
<!-- This will start the PAN joint controller -->
<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(env MARRTINO_APPS_HOME)/robotdog/config/robotdog.yaml" command="load"/>
   <!-- <rosparam file="$(env MARRTINO_APPS_HOME)/pantilt/config/servo_param.yaml" command="load"/>-->

    <node name="tilt_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_port
                slf11_controller
                slf12_controller
                slf13_controller"
          output="screen"/>
</launch>
